.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 9rem);
}

.trending {
  gap: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.customCard {
  height: 245px !important;
  width: 400px !important;
  justify-content: space-between;
  display: flex;
}
