.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: flex-start;
}

.imageContainer {
  position: relative;
}
