:root {
  --navbar: #e8e8e8;
  --text: #000000;
  --subtext: #ff642f;
  --additionalcolor: #e8e8e8;
  --main: #fdfefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  color: black;
}

.container {
  background: darkgray;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: auto;
}
